@import '../../variables.scss';

.song-form {
    display: flex;
    flex-direction: column;
     background-color: $c-three;
    padding: 0.5rem;
}

.song-form {
    text-align: center;
}

form {
    display: grid;
    grid-gap: 0.5rem;
    width: 50%;
    align-self: center;
}

form input[type="submit"] {
    width: fit-content;
    justify-self: center;
}
