@import '../../variables.scss';

span {
    padding: 0.5rem;
}

.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0.25rem 0;
}

.song-info {
    justify-self: flex-start;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
}

.btns {
    justify-self: flex-end;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.save-song, .edit-song, .remove-song {
    margin: 0 0.25rem;
}


i.far.fa-heart {
    color: $c-five;
}

.jams-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    background-color: $c-three;
    padding: 1rem;
    margin: 0.5rem;


    h3 {
        margin: 0.25rem;
    }
}

.progress {
    width: 50%;
}