@import './variables.scss';


.App {
  width: 100%;
}


header {
  background-color: $c-one;
  padding: 1rem;
  width: 100%;
  
  .brand {
    display: flex;
    align-items: center;
    font-family: 'Lobster', cursive;

    img {
      width: 3rem;
      margin: 1rem;
    }
  }
}

main {
  padding: 1rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 768px;
}

h1, h2, h3 {
  margin: 0.25rem;
}

h1 {
  font-size: 2rem !important;
  padding: 1rem;
  color: $c-two;
  font-weight: bolder !important;
}

h2 {
  text-align: right;
  font-size: 1.5rem !important;
  padding: 1rem;
  color: $c-four;
  font-weight: bold !important;
}

h3 {
  font-size: 1.25rem !important;
  font-weight: bold !important;
  padding: 0.25rem;
  color: $c-one;
}

button {
  box-shadow: 0px 0px 2px 0px $c-one !important;
}

@media screen and (max-width: 495px) {
  .song, .fav {
    flex-direction: column;
  }
}