@import './variables.scss';


.App {
  width: 100%;
}


header {
  background-color: $c-one;
  padding: 1rem;
  width: 100%;
}

main {
  padding: 1rem;
  width: 95%;
  margin: 0 auto;
}

h1, h2, h3 {
  margin: 0.25rem;
}

h1 {
  text-align: left;
  font-size: 2rem !important;
  padding: 10px;
  color: $c-two;
  font-weight: bolder !important;
}

h2 {
  text-align: right;
  font-size: 1.5rem !important;
  padding: 10px;
  color: $c-four;
  font-weight: bold !important;
}

h3 {
  font-size: 1.25rem !important;
  font-weight: bold !important;
  padding: 0.25rem;
  color: $c-one;
}